:root
{
	--unknown-word-bg: #F5A9E1;
	--learning-word-bg: #FFFF66;
	--known-word-bg: #99FF00;
}

html, body {
	height:100vh;
	width:100%;
	display: flex;
    flex-direction: column;
	 margin:0;
	 padding:0;
}

.container-fluid {
   display: flex;
   flex-grow: 1;
   width:100%;
    margin:0;
	padding:0;
   
}

.row {
	width:100%;
	 margin:0;
	 padding:0;
}

.textarea-container{
	display: flex;
   flex-grow: 1;
   margin:0;
   padding:.3em;
}

.sidebar-container {
    
   margin:0;
	padding:.3em;
}



.textarea-tab-content{
	display: flex;
   flex-grow: 1;
   flex-direction: column;
   margin:0;
   padding:0;
}

.sidebararea-tab-content{
	display: flex;
   flex-grow: 1;
   
   margin:0;
   padding:0;
}




.custom-statsarea {
    background-color: #fff;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    flex-direction: column; /* Make its children stack vertically */
	flex-grow: 1;
	display: flex;

}



.sidebarContentArea{
	margin:0;
    padding:0;
}

#dictionary-iframe{
	display: flex;
	flex-grow:1;
	border:0;
}

#nav-learn {
    box-sizing: border-box; /* Add this */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Adds a subtle shadow for a 3D effect */
    background-color: #f9f9f9; /* Light grey color for the background */
	height:1px;
	overflow-y: scroll;
	margin:0;
   padding:0;
	
}

.edit-textarea {
    font-size: 1.5em; /* Adjust the font size to fit the container */
    line-height: 1.6; /* More space between lines for easier reading */
    color: #333; /* Dark grey color for the text */
    background-color: #f9f9f9; /* Light grey color for the background */
	height:100%;
	display: flex;
    resize: none; 
	margin:0;
   padding:.4em;

}

#learnText {
    flex-direction: row;
    border: 1px solid #ddd;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box; /* add this line */
	margin:0;
   padding:10px;
}


.page {

	font-size: 1.5em;
	line-height: 1.6; /* More space between lines for easier reading */
    color: #333; /* Dark grey color for the text */
	margin:0;
   padding:0;
}




.navbar {
  flex-shrink: 0; /* This makes sure that the navbar doesn't shrink */
  background-color: #f8f9fa;
}

.nav-link {
    font-size: 1.25rem; /* Makes the text bigger */
    padding: 10px 20px; /* More padding for bigger button */
    margin-right: 10px; /* Spacing between buttons */
    border: 2px solid #ccc; /* Border for button style */
    border-radius: 5px; /* Rounded corners */
}

.nav-link:hover {
    background-color: #f8f9fa; /* Background color on hover */
}

.nav-link.active {
    background-color: #e9ecef; /* Background color for active tab */
    color: #495057; /* Text color for active tab */
}

.navbar-toggler {
    margin-left: auto; /* Push the hamburger to the right */
}

.nav-item.nav-link {
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
	cursor: pointer;
}

#nav-clear-tab {
    margin-right: 4em; /* Adjust this value to suit your needs */
}

.nav-item.nav-link:hover {
    background-color: #f0f0f0;
}

.nav-item.nav-link.active {
    color: #fff;
    background-color: #007bff;
}





.clickable-word {
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

	white-space: pre-wrap; 
    cursor: pointer;
	transition: color 0.1s ease-in-out; 
}
.non-text {
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.clickable-word:hover {
    color: LightSeaGreen;
}




.tab-pane{
	display: flex;
  flex-grow: 1;
}




#textarea-navbar-title {
	font-size: 1.5em;
    text-align: center;
}


.textarea-container.full-width{
    flex-basis: 100%;
    max-width: 100%;
}

.sidebar-container.full-width {
    flex-basis: 100%;
    max-width: 100%;
	position: fixed;
    width: 100%;
}

.textarea-container.hidden {
    display: none;
}

.sidebar-container.hidden {
    display: none;
}

#dictionary-content-area{
	
}

#dictionary-iframe{

}






.unknown {
    background-color: var(--unknown-word-bg);
}

.learning {
    background-color: var(--learning-word-bg);
}

.known {
    background-color: var(--known-word-bg);
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
}

.checkbox-buttons label, .checkbox-buttons input {
  display: inline-block;
}

.checkbox-buttons label {
  font-size: 2vh;
}

#wordlist-content-area{
	padding:5%;
}

